# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Drizzle (Supabase pooler — usar connection pooling para serverless)
DATABASE_URL=postgresql://postgres.YOUR_PROJECT:PASSWORD@aws-X-us-east-1.pooler.supabase.com:5432/postgres

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
